label {
    display: block;
}

label input {
    display: block;
}

input[type='range'] {
    width: 100%;
}

table.tunerdisplay {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table.tunerdisplay td {
    text-align: center;
    padding: 0;
    border: 1px solid green;
}

table.tunerdisplay td span {
    -webkit-transform: rotate(90deg);
    border: 1px solid red;
    height: 100%;
    display: inline-block;
}

table.tunerdisplay td:first-of-type {
    text-align: left;

}

table.tunerdisplay td:last-of-type {
    text-align: right;
}

